.container {
  width: 1024px;
  display: flex;
  justify-content: space-between; 
  height: 768px; 
}

.card { 
  display: block; 
  align-content: center; 
  background-color:#34b430;
  width: 33%; 
  height: 25%; 
  border:solid 1px; 
}

.teal { 
  display: block; 
  align-content: center; 
  background-color:red;
  width: 33%; 
  height: 25%; 
  border:solid 1px; 
}
